body{
	background-color: #adadad;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

a{
	color: black;
	text-decoration: none;
}

h1{
	color: black;
	text-decoration: none;
	font-size: 270%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	text-align: center;
}

h2{
	color: #2253ac;
}

table{	
	margin-left: auto;
	margin-right: auto;
}

td{
	margin-top: 5px;
	margin-bottom: 5px;
}
