body{
	background-color: #adadad;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

a{
	text-decoration: none;
	color:#4E78A0;
}
a:hover{
	color: white;
}
img{
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

img:hover{
	border: 5px white;

h1{
	color: #84868A;
	font-size: 270%;
	margin-left: auto;
	margin-right: auto;
}

h2{
	color: #2253ac;
}

table{	
	border: 0px;
	margin-left: auto;
	margin-right: auto;
}

td{
	align: center;
	valign: center;
	font-size: 150%;
}
