body{
	background-color: #adadad;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

a{
	text-decoration: none;
	color:#4E78A0;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
a:hover{
	color: white;
}

h1{
	color: #84868A;
	font-size: 270%;
	margin-left: auto;
	margin-right: auto;
}

h2{
	color: #2253ac;
}

table{
	width: 250px;
	border: 0px;
	padding: 10px 10px 10px 10px;
	margin-left: auto;
	margin-right: auto;
}

td{
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	align: center;
	valign: center;
	font-size: 150%;
}

td img{
	width: 60px;
	height:60px;
}